<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>
    <div class="form-group">
    <%= f.select(:style, ([['Brown Ale'], ['IPA'], ['Pale Ale']]), {}, {class: "form-control"}) %>
</div>
<div class="form-group">
    <%= f.text_area :og, class: "form-control", placeholder: "Original Gravity" %>
  </div>
  <div class="form-group">
    <%= f.text_area :fg, class: "form-control", placeholder: "Final Gravity" %>
  </div>
  <div class="form-group">
    <%= f.text_area :abv, class: "form-control", placeholder: "ABV %" %>
  </div>
  <div class="form-group">
    <%= f.text_area :srm, class: "form-control", placeholder: "SRM" %>
  </div>
  <div class="form-group">
    <%= f.text_area :ibu, class: "form-control", placeholder: "IBUs" %>
  </div>

    <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  </form>
<% end %>
