<p><strong>Name: </strong><%= @recipe.name %></p>
<p><strong>Style: </strong><%= @recipe.style %></p>
<p><strong>Description: </strong><%= @recipe.description %></p>

<p><strong>Original Gravity: </strong><%= @recipe.og %></p>
<p><strong>Final Gravity: </strong><%= @recipe.fg %></p>
<p><strong>Alcohol by Volume (ABV): </strong><%= @recipe.abv %>%</p>
<p><strong>SRM (Color): </strong><%= @recipe.srm %></p>
<p><strong>IBUs (Bitterness) </strong><%= @recipe.ibu %></p>

<h2>Ingredients</h2>

<table class="table">
<tr>
<th>Type</th>
<th>Name</th>
<th>Amount</th>
<th>Use</th>
<th>Boil Time</th>
<th>Alpha Acid %</th>
<th>Fermentation Temperature</th>
<th>Description</th>
<th></th>
</tr>
<% @recipe.ingredients.each do |ingredient| %>
<tr>
  <td><%= ingredient.ingredient_type %></td>
  <td><%= ingredient.name %></td>
  <td><%= ingredient.amount %></td>
  <td><%= ingredient.use %></td>
  <td><%= ingredient.boil_time %></td>
  <td><%= ingredient.aa %></td>
  <td><%= ingredient.ferment_temp %></td>
  <td><%= ingredient.description %></td>
  <td><%= link_to 'Remove', [ingredient.recipe, ingredient],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<h2>Add ingredients</h2>
<%= form_for([@recipe, @recipe.ingredients.build]) do |f| %>
  <form>
  <div class="form-group">
    <%= f.label "Ingredient Type" %>
    <%= f.select(:ingredient_type, ([['Fermentable'], ['Hops'], ['Yeast'], ['Other']]), {}, {class: "form-control"}) %>
</div>
    <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="form-group">
    <%= f.text_field :amount, class: "form-control", placeholder: "Amount (in ounces)" %>
  </div>
  <div class="form-group">
    <%= f.text_field :use, class: "form-control", placeholder: "Use" %>
  </div>
  <div class="form-group">
    <%= f.text_field :boil_time, class: "form-control", placeholder: "Boil Time (in minutes)" %>
  </div>
  <div class="form-group">
    <%= f.text_field :aa, class: "form-control", placeholder: "Alpha Acid %" %>
  </div>
  <div class="form-group">
    <%= f.text_field :ferment_temp, class: "form-control", placeholder: "Fermentation Temperature" %>
  </div>

  <div class="form-group">
    <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>
    <div class="form-group">
    <%= f.submit "Add to Recipe", class: "btn btn-primary" %>
  </div>
  </form>
<% end %>

<%= link_to "View Batches", recipe_batches_path(@recipe) %> |  

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
