<%= form_for(@batch) do |f| %>
  <% if @batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
      <% @batch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <form>
    
  <div class="form-group">
    <%= f.label "Recipe Name" %>
    <%= f.select(:recipe_id, options_for_select(Recipe.all.map{|s|[s.name, s.id]}), {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :brew_date %>
    <%= f.date_field :brew_date, class: "form-control", placeholder: "Brew Day" %>
  </div>
  <div class="form-group">
  <%= f.submit %>
  </div>
</form>
<% end %>
