<h1>Batches using this</h1>

<table>
  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td>Recipe ID <%= batch.recipe_id %></td>
        <td>Brew Date: <%= batch.brew_date %></td>
        <td><%= link_to 'Show', [batch.recipe, batch] %></td>
        <td><%= link_to 'Edit', edit_recipe_batch_path(batch.recipe, batch) %></td>
        <td><%= link_to 'Destroy', [batch.recipe, batch], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Batch', new_recipe_batch_path %>
