<h1 class="center">Your Batches</h1>
  
  <ul>
    <% @batches.each do |batch| %>
    <li class="list-group-item">
        <%= batch.recipe.name %><br/>
        Started on <%= batch.brew_date %>
        <%= link_to 'View', batch %>
        <% if batch.user == current_user %>
        <%= link_to 'Edit', edit_batch_path(batch) %></td>
        <%= link_to 'Delete', batch, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </li>
    <% end %>
  </ul>

<br>
<%= link_to 'New Batch', new_batch_path, class: "btn btn-default" %>
