<h1>Batches using this recipe</h1>

<table>
  <tbody>
    <% @batches.each do |batch| %>
      <tr>
        <td>Recipe ID <%= batch.name %></td>
        <td>Brew Date: <%= batch.brew_date %></td>
        <td><%= link_to 'Show', batch %></td>
        <% if batch.user == current_user %>
        <td><%= link_to 'Edit', edit_batch_path(batch) %></td>
        <td><%= link_to 'Destroy', batch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
s
<%= link_to 'New Batch', new_batch_path %>
