<div class="center">
<h1><%= @batch.user.email %>'s <%= @batch.recipe.name %> <%= @batch.recipe.style %></h1>
<p>Brewed on <%= @batch.brew_date %></p>
<% if @batch.user == current_user %>
  <%= link_to 'Go Back', batches_path, class: "btn btn-default" %> <%= link_to 'Edit', edit_batch_path(@batch), class: "btn btn-default" %>
<% end %>

</div>

<h2>Ingredients you'll need</h2>
<ul>
<% @batch.recipe.ingredients.each do |ingredient| %>
 <li class="list-group-item"><%= ingredient.name %> (<%=ingredient.ingredient_type %>), <%= ingredient.amount %> oz</li>

 
<% end %>
</ul>


