<p>Batch ID: <%= @batch.id %></p>
<p>User ID: <%= @batch.user_id %></p>
<ul class="list-group">
  
</ul>
<h2>Ingredients you'll need</h2>
<% @batch.recipe.ingredients.each do |ingredient| %>
 <li class="list-group-item"><%= ingredient.name %> (<%=ingredient.ingredient_type %>), <%= ingredient.amount %> oz</li>

 
<% end %>
</ul>
<%= link_to 'Show', [@batch.recipe, @batch] %> |
<%= link_to 'Back', recipe_batches_path(@batch.recipe) %>
