<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <%= link_to "FiveGallon", root_path, class: "navbar-brand" %>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li><%= link_to "My Batches", batches_path %></li>
            <li><%= link_to "My Account", edit_user_registration_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "About", pages_about_path %></li>
            <li><%= link_to "Contact", pages_contact_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <% end %>
        </ul>
    </div>
</nav>